version: "3.8"

services:
  db:
    image: linuxserver/mariadb:10.6.13
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${LB_DATABASE_PWD}
      - MYSQL_DATABASE=${LB_DATABASE_NAME}
      - MYSQL_USER=${LB_DATABASE_USER}
      - MYSQL_PASSWORD=${LB_DATABASE_PWD}
    volumes:
      - db_data:/config
    networks:
      - dokploy-network

  app:
    image: librebooking/docker:master
    restart: always
    depends_on:
      - db
    environment:
      - LB_DATABASE_HOSTSPEC=db
      - LB_DATABASE_NAME=${LB_DATABASE_NAME}
      - LB_DATABASE_USER=${LB_DATABASE_USER}
      - LB_DATABASE_PWD=${LB_DATABASE_PWD}
      - LB_INSTALL_PWD=${LB_INSTALL_PWD}
      - LB_DEFAULT_TIMEZONE=Europe/Paris
      - LB_APP_TITLE=Réservations Lycée
      - LB_ADMIN_EMAIL=admin@tonlycee.fr
    volumes:
      - app_config:/config
      - ./article.json:/var/www/html/article.json
      - ./data:/var/www/html/data
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.librebooking.rule=Host(`resa.ton-domaine.fr`)"
      - "traefik.http.routers.librebooking.entrypoints=websecure"
      - "traefik.http.routers.librebooking.tls.certResolver=letsencrypt"
      - "traefik.http.services.librebooking.loadbalancer.server.port=80"

volumes:
  db_data:
  app_config:

networks:
  dokploy-network:
    external: true
